{% extends 'main.html' %}
{% block content %}


<div class="row"  style="margin-bottom: 125px;" >
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
        <center><h1 style="font-family: fantasy;">KIDNEY DISEASE PREDICTOR</h1></center>
           <center><h3 style="color:red ; text-align: left; font-family: sansserif; position: relative;" >
                NOTE: <br><span style="color:black ; " >Normal-0,Abnormal-1</span></h3></center>
            
        <div class="card card-body" style="border: 1px solid black; ; background-size: cover; background-color:bisque;">
            <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                                <h6 style="color: rgb(1, 1, 1);">AGE</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="age" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">BLOOD PRESSURE</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bp" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">ALBUMIN</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="al" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">SUGAR</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="su" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">RED BLOOD CELLS</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="rbc" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">PUS CELL</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pc" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">PUS CELL CLUMPS</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pcc" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">BACTERIA</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="ba" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">BLOOD GLUCOSE RANDOM</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bgr" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">BLOOD UREA</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="bu">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">SERUM CREATININE</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="sc" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">POTASSIUM</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pot" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">WHITE BLOOD CELL COUNT</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="wc" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">HYPERTENSION</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="htn">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">DIABETIES MELLITUS</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="dm" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">CORONARY ARTERY DISEASE</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="cad" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">PEDAL EDEMA</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="pe" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 style="color: rgb(0, 0, 0);">ANEMIA</h6>
                            <input style="border: 1px solid black;" class="form-control" type="text" name="ane" >
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-info btn-block" value="Predict" >
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div> <br>
<h1 style="text-align: center" > Sample-Inputs in the Data Set</h1> <br>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">age</th>
      <th scope="col">bp</th>
      <th scope="col">al</th>
      <th scope="col">su</th>
      <th scope="col">rbc</th>
      <th scope="col">pc</th>
      <th scope="col">pcc</th>
      <th scope="col">ba</th>
      <th scope="col">bgr</th>
      <th scope="col">bu</th>
      <th scope="col">sc</th>
      <th scope="col">pot</th>
      <th scope="col">wc</th>
      <th scope="col">htn</th>
      <th scope="col">dm</th>
      <th scope="col">cad</th>
      <th scope="col">pe</th>
      <th scope="col">ane</th>
      <th scope="col">Disease</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>24</td>
      <td>100</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>136</td>
      <td>60</td>
      <td>1.9</td>
      <td>3.7</td>
      <td>9600</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>Present</td>
    </tr>
    <tr>
      <td>68</td>
      <td>80</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>157</td>
      <td>162</td>
      <td>9.6</td>
      <td>4.9</td>
      <td>11000</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>Present</td>
    </tr>
    <tr>
      <td>51</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>121</td>
      <td>27</td>
      <td>0.8</td>
      <td>3.7</td>
      <td>8300</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>Healthy</td>
    </tr>
  </tbody>
</table>

{% endblock %}